<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DynamicSuite">
   <listeners>
        <listener class-name="DAMS.Resources.Listeners"/>
        <!--<listener class-name="DAMS.Resources.FailedAll" />-->
    </listeners>
    <test name="RunDynamicClass">
        <classes>
            <class name="DAMS.Testcases.Regression_Suite.Supplier.TC009_FUSO_Supplier_All_FR_Global"/>
        </classes>
    </test>

</suite>
